<!DOCTYPE html>
<head> 
  <title>MakersBNB successful request</title>
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
</head>
<html>
  <body>
    <% if session[:user_id] %> 
      <div class="logout">
        <a href="/logout" class="logout_button">Log out</a>
      </div>
    <%end%>
    <h1>MakersBNB</h1>
    <%space = session[:space]%>
    <p>You have successfully sent a request to stay at <%=UserRepository.new.find_by_id(space.host_id).first_name%>'s Space: <%=space.title%>.</p>
    <a href="/requests" class="list_button">Go to your requests</a>
    <a href="/" class="home">Go back to homepage</a>
  </body>
</html>