<!DOCTYPE html>
<head>
  <title>MakersBNB signup</title>
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
</head>
<html>
<body>
  <main>
    <div class="logged_out">
      <h1>MakersBNB</h1>
      <h2>Create Account</h2>
      <%if @error == "invalid_name"%><br>
        <div class="alert">
          <span>Your first name and last name must be 30 characters maximum and contain only letters, spaces, hyphens and apostrophes.</span>
        </div>
      <%elsif @error == "existing_email"%><br>
        <div class="alert">
          <span>This email has already been registered.</span>
        </div>
       <%elsif @error == "input_missing"%><br>
        <div class="alert">
          <span>Some essential information is missing. Please try again.</span>
        </div>
      <%end%>
      <form action="/signup" method="POST" class="signup">
        <label> First Name: </label>
          <input type="text" name="first_name" placeholder="John" required="true"/><br>
        <label> Last Name: </label>
          <input type="text" name="last_name" placeholder="Smith" required="true"/><br>
        <label> Email: </label>
          <input type="email" name="email" placeholder="johnsmith@email.com" required="true"/><br>
        <label> Password: </label>
          <input type="password" name="password" placeholder="myPassword123$" required="true"/><br>
        <input type="submit" class="submit_button" value="Sign up"/>
      </form>
      <form action="/login" class="button">
        <input type="submit" class="button_input" value="Login"/>
      </form>
      <div class="index">
        <a href="/" class="index_button">Go back to homepage</a>
      </div>
    </div>
  </main>
</body>
</html>
